@model Host.DataModel.ForgetPasswordDto
@{
    ViewData["Title"] = "ForgetPassword";
}

<h2>ForgetPassword</h2>
<form asp-controller="Employee" asp-action="SendLink">
    <div class="modal-body">
        <div id="div-lost-msg">
            <div id="icon-lost-msg" class="glyphicon glyphicon-chevron-right"></div>
            <span id="text-lost-msg">Type your e-mail.</span>
        </div>
        <input id="lost_email" class="form-control" type="text" placeholder="E-Mail (type ERROR for error effect)" required="" asp-for="Email">
    </div>
    <div class="modal-footer">
        <div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Send</button>
        </div>
    </div>
</form>
