@{
    ViewData["Title"] = "ActivityPerformReport";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>ActivityPerformReport</h2>

<div id="root"></div>


@section scripts{
    <link href="~/css/main.6bd4a22d.css"/>
    <script type="text/javascript" src="~/js/main.3d168d70.js"></script>
}