@{
    ViewData["Title"] = "ActivityPerformReport";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="box">
    <div class="box-header">
        <h3 class="box-title" style="font-family:'Times New Roman'">Daily Report</h3></br>
        </br>
    </div>


        <div id="root">

    </div>
<input type="hidden" value="@ViewBag.Route"/>
</div>
@section scripts{
    <link href="~/css/main.6bd4a22d.css" />
    <script type="text/javascript" src="~/js/main.3d168d70.js"></script>
}
