@{
    if (ViewBag.Role == "Admin")
    {
        Layout = "_AdminLayout";
    }
    else
    {
        Layout = "_ClientDashboard";

    }
}
<style>
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
</style>
<h2>ActivityPerformReport</h2>

<div id="root"></div>


@section scripts{


    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/2.1bbcc5f4.chunk.css" rel="stylesheet" />
    <link href="~/css/main.a6a049ce.chunk.css" rel="stylesheet" />
    <script type="text/javascript" src="~/js/runtime~main.fdfcfda2.js"></script>
    <script type="text/javascript" src="~/js/2.f921dc37.chunk.js"></script>
    <script type="text/javascript" src="~/js/main.93b7e6fb.chunk.js"></script>


}