@{
    ViewData["Title"] = "ActivityPerformReport";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>ActivityPerformReport</h2>

<div id="root"></div>


@section scripts{
    <link href="~/css/main.2cde0421.css"/>
    <script type="text/javascript" src="~/js/main.334925fa.js"></script>
}