@{
    ViewData["Title"] = "ActivityPerformReport";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
</style>
<h2>ActivityPerformReport</h2>

<div id="root"></div>


@section scripts{
    <link href="~/css/main.6bd4a22d.css"/>
    @*<link href="~/css/2.1bbcc5f4.chunk.css" rel="stylesheet" />
    <script src="~/js/2.8b776d41.chunk.js"></script>>
    <link href="~/css/main.a6a049ce.chunk.css" rel="stylesheet" />
    <script src="~/js/main.3577b321.chunk.js"></script>*@
    <script type="text/javascript" src="~/js/main.62bc86a7.js"></script>

}