@{
    ViewData["Title"] = "ActivityPerformReport";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>ActivityPerformReport</h2>

<div id="root"></div>


@section scripts{
    <link href="~/css/main.df06b487.css"/>
    <script type="text/javascript" src="~/js/main.0727d3b3.js"></script>
}