@model Host.DataModel.BranchEmployeeDto
@{
    Layout = "_AdminLayout";
}

<!-- Main content -->


<div class="main-contents">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h4 style="font-family:'Times New Roman'">Create Branch Employee</h4>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form class="form-horizontal" asp-controller="Company" asp-action="AddBranchEmployee" method="post">
                                <!--   <input type="hidden" data-val="true">-->
                                <input type="hidden" asp-for="BranchId" />
                                <input type="hidden" asp-for="BranchEmployeeId" />
                                <!--<div class="form-group">
        <label class="col-md-2 control-label" for="Company">Company Name</label>
        <div class="col-md-10">
            <select class="form-control" onchange="getBranchDropdownById(CompanyId.value)" asp-items="@Model.Companies" asp-for="CompanyId">
                <option disabled="disabled" selected="selected">Select Company Name...</option>
            </select>
        </div>
    </div>-->
                                <!-- <div class="form-group">
        <label class="col-md-2 control-label" for="Company">Branch Name</label>
        <div class="col-md-10">
            <select class="form-control" asp-for="BranchId">
                <option disabled="disabled" selected="selected">Select Branch Name</option>
            </select>
        </div>
    </div>-->
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Employee Name<i class="fa fa-asterisk" style="color:red" aria-hidden="true"></i></label>
                                    <div class="col-md-10">
                                        <input class="form-control" type="text" asp-for="EmployeeName">
                                        <span asp-validation-for="EmployeeName" class="text-danger field-validation-valid" ></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label">Designation<i class="fa fa-asterisk" style="color:red" aria-hidden="true"></i></label>
                                    <div class="col-md-10">
                                        <input class="form-control" type="text" asp-for="Designation">
                                        <span asp-validation-for="Designation" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label">Phone<i class="fa fa-asterisk" style="color:red" aria-hidden="true"></i></label>
                                    <div class="col-md-10">
                                        <input class="form-control" type="text" asp-for="Phone">
                                        <span asp-validation-for="Phone" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Email<i class="fa fa-asterisk" style="color:red" aria-hidden="true"></i></label>
                                    <div class="col-md-10">
                                        <input class="form-control" type="text" asp-for="Email">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <button type="submit">Add</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/dist/BranchEmployee.js"></script>


<!-- /.content -->
