
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Graph";
}

<h2>ExampleGraph</h2>

<div class="main-contents">
    <script src="~/chart/highchart.js"></script>
    <script src="~/chart/series-label.js"></script>
    <script src="~/chart/exporting.js"></script>

    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

</div>
<script src="~/dist/js/ExampleGraph.js"></script>