@model Host.Models.AccountViewModels.UserInfoModel
@{
    Layout = "_AdminLayout";
}


<div class="page-header">
    <div class="row">


    </div>
</div>

<div class="main-contents">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <div class="panel panel-default">
                        <div class="panel-heading">

                            <h3>New User</h3>
                            <small id="sevenCharacter">Passwords must be at least 7 characters.</small><br />
                            <small id="nonAlphaNumeric">Passwords must have at least one non alphanumeric character.</small><br />
                            <small id="numbers">Passwords must have at least one digit ( 0 - 9 )</small><br />
                        </div>
                        <div class="panel-body">
                            <form asp-controller="Account" asp-action="CreateUser" class="form-horizontal" method="post">
                                <input type="hidden" data-val="true" data-val-required="The UserId field is required." id="UserId" name="UserId" value="00000000-0000-0000-0000-000000000000">
                                <input type="hidden" data-val="true" data-val-required="The SiteId field is required." id="SiteId" name="SiteId" value="a9d9c0b8-1930-4059-a58c-e52648bee1ba">
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="Email">Email<i class="fa fa-asterisk" aria-hidden="true"></i></label>
                                    <div class="col-md-10">
                                        <input id="email" class="form-control" type="email" asp-for="Email">
                                        <br />
                                        <span asp-validation-for="Email" class="text-danger" id="message"></span>
                                        <span class="text-danger" id="emailMessage"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" asp-for="UserName">Username<i class="fa fa-asterisk" aria-hidden="true"></i></label>
                                    <div class="col-md-10">
                                        <input id="userName" class="form-control" type="text" asp-for="UserName">
                                        <span asp-validation-for="UserName" class="text-danger"></span>
                                        <span class="text-danger" id="userNameMessage"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Display Name<i class="fa fa-asterisk" aria-hidden="true"></i></label>
                                    <div class="col-md-10">
                                        <input class="form-control" type="text" asp-for="NormalizeUserName">
                                        <span asp-validation-for="NormalizeUserName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="Role">Role</label>
                                    <div class="col-md-10">
                                        <select class="form-control" asp-items="@Model.Roles" asp-for="RoleId" placeholder="Select Business Name..."></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="Password">Password<i class="fa fa-asterisk" aria-hidden="true"></i></label>
                                    <div class="col-md-10">
                                        <input type="password" asp-for="Password" class="form-control">
                                        <span asp-validation-for="Password" class="text-danger "> </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Confirm Password<i class="fa fa-asterisk" aria-hidden="true"></i></label>
                                    <div class="col-md-10">
                                        <input type="password" asp-for="ConfrimedPassword" id="ConfirmPassword" class="form-control" onblur="checkEquality(this.value)" />
                                        <span asp-validation-for="ConfrimedPassword" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input id="btn" type="submit" class="btn btn-default" value="Save">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section script {
    <script src="~/dist/js/NewHire.js"></script>
}


